@charset "UTF-8";

body, html{
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

svg polygon#blue{
    stroke-dasharray: 50 15;
    animation: dash-horario 1.5s cubic-bezier(1, 1, 1, 1) infinite;
    stroke: rgb(0, 174, 255);
}

svg polygon#red{
    stroke-dasharray: 50 15;
    animation: dash-antihorario 1.5s cubic-bezier(1, 1, 1, 1) infinite;
    stroke: red;
}

svg text{
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    animation: piscar 1s infinite;
}

header{
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 100;
}

.navbar{
    padding: 0 50px;
    background-color: rgba(0,0,0,.95);
}

#navbarSite ul li a{
    margin: 0 20px;
}

.navbar-brand img{
    width: 40px;
}

.dropdown-item{
    width: 80%;
    margin: auto;
    text-align: center;
}

.dropdown-menu{
    padding: 0;
}

.carousel{
    height: 100vh;
}

.carousel-inner{
    height: 100vh;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    opacity: .8;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.icon-slide{
    opacity: .8;
    background-color: rgba(0,0,0,1);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.row h2.titulos{
    text-align: center;
    margin: 10vh 0;
    background-color: rgba(0, 0, 0,.9);
    color: white;
    border-radius: 5px;
}

.row h3.titulos{
    text-align: center;
    margin: 30px 0;
    font-size: 17pt;
}

.row p{
    line-height: 1.5;
}

div#flex-adms{
    /* grid-column: 1/4; */
    width: 100%;
    z-index: 99;
    display: flex;
    overflow-x: scroll;
    margin: 0 auto 50px auto;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
}

div#flex-adms div img{
    margin: 30px;
    border-radius: 200px;
    width: 140px;
    border-radius: 100px;
    opacity: .65;
    box-shadow: .5px .5px 8px 2px rgba(0, 0, 0,.4);
}

div#flex-adms img:hover{
    opacity: 1;
    transition: .8s;
    transform: scale(1.1);
}

#foto-esquerda img#img-adm{
    display: block;
    border-radius: 5px;
    box-shadow: .5px .5px 30px 2px rgba(0, 0, 0,.4);
    margin: auto;
}

#info-direita h2,h3{
    font-size: 13pt;
    text-align: justify;
    line-height: 1.5;
}

#info-direita span{
    font-weight: normal;
}

.youtube img{
    display: block;
    margin: auto;
}

span.txt-carousel{
    position: absolute;
    width: 40vw;
    top: 44.8vh;
    left: 30vw;
    text-align: center;
    font-size: 30pt;
    color: rgba(0,0,0,.8);
    background-color: rgba(255,255,255,.7);
    border-radius: 10px;
}

button:focus{
    outline: none;
    border: none;
}

nav.navbar a.btn:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

footer{
    position: relative;
    clear: both;
    background-color: rgba(0, 0, 0,.95);
    color: white;
    text-align: center;
    bottom: -20px;
}

a#link-apostila{
    box-shadow: 2px 2px 6px gray;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#servicos{
    background-image: url(printer3d.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

#servicos p{
    color: white;
    background-color: rgba(0, 0, 0,.6);
    padding: 2px;
    border-radius: 5px;
}

#ytb-img{
    width: 150px;
}

.youtube ol li{
    margin: 10px 0;
}

iframe{
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

@media(max-width:768px){

    .navbar{
        background-color: rgba(0,0,0,1);
    }

    #navbarSite ul li a{
        margin: 20px 0;
    }

    .dropdown-item{
        width: 100%;
    }

    .carousel{
        height: 50vh;
    }

    .carousel-item img{
        height: 50vh;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon{
        opacity: .8;
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
    
    .icon-slide{
        opacity: .8;
        background-color: rgba(0,0,0,1);
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }

    span.txt-carousel{
        width: 70vw;
        top: 22.5vh;
        left: 15vw;
        font-size: 15pt;
    }

    div#flex-adms{
    /* grid-column: 1/4; */
        width: 100%;
        display: flex;
        overflow-x: scroll;
        margin: auto;
    }

    div#flex-adms div img{
        margin: 15px 25px;
        width: 105px;
    }

    div#foto-esquerda img#img-adm{
        width: 130px;
        margin: 60px auto;
    }

    .row h2.titulos{
        padding: 5px;
        font-size: 14pt;
        margin: 30px 0;
    }

    .row h3.titulos{
        font-size: 14pt;
        margin: 15px 0;
    }

    #ytb-img{
        width: 100px;
    }

    p{
        font-size: 10.8pt;
        font-weight: lighter;
    }

    #info-direita h2,h3{
        font-size: 10.8pt;
        text-align: justify;
        line-height: 1.5;
    }

    span#depoimento{
        font-weight: lighter;
    }

}

@keyframes dash-horario{
    from{
        stroke-dashoffset: 0;
    }to{
        stroke-dashoffset: 134;
    }
}

@keyframes dash-antihorario{
    from{
        stroke-dashoffset: 0;
    }to{
        stroke-dashoffset: -134;
    }
}